.App {
    text-align: center;
    margin-top: 15%;
    color: white;
}

.App-title-small {
    font-size: 3vmin;
    margin-bottom: 2vmin;
}

.App-title-big {
    height: 15vmin;
    font-size: 10vmin;
    width: fit-content;
    padding: 0 0.5em;

    margin: auto;
    /*text-align: center;*/

    border: 0.2vmin dashed white;
    border-radius: 2vmin;
}

.Clock {
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
}

.Clock-text {
    display: inline;
    margin: 1.5vmin;
    font-size: 3vmin;
}

.Deadline-input {
    font-size: 1.5vmin;
    margin-right: 0.5vmin;
    height: 4vmin;
    width: 15vmin;
}

.Deadline-input-button {
    height: 4vmin;
    width: fit-content;
    font-size: 1.3vmin;
    vertical-align: bottom;
}

.Main-card {
    opacity: .4;
}

.Input-alert {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.5vmin;
    padding: 1.5vmin;
    background-color: transparent;
    color: #292929;
    border-color: transparent;
}
